@{
    ViewBag.Title = "Index";
}
<!-- Start All Title Box -->
<div class="all-title-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href='@Url.Action("Index", "Home")'>Home</a></li>
                    <li class="breadcrumb-item active">Giới thiệu</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End All Title Box -->
<!-- Start About Page  -->
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-fluid" src="~/Images/shop.jpeg" alt="" />
                </div>
            </div>
            <div class="col-lg-6">
                <h2 class="noo-sh-title-top">Chúng tôi là <span>Huy Hoang Bakery</span></h2>
                <p> Huy Hoang Bakery là một một những cửa hàng bán bánh kẹo đang hoạt động mạnh mẽ tại Tp. Hồ Chí Minh với châm ngôn "Vừa lòng khách đến -Vui lòng khách đi" đã làm cho thương hiệu Huy Hoang bbakery trở thành một thương hiệu uy tín và được nhiều khách hàng tin tưởng.</p>
                <p> Huy Hoang Bakery cung cấp đang dạng các loại bánh kẹo như các loại bánh - snack đã gắn liền với tuổi thơ bao nhiêu người đặc biệt là thế hệ 9x và 2000, kẹo dẻo, kẹo ngoại được nhập khẩu, trái cây sấy và các loại bánh ngọt dược nhập từ các thương hiệu nổi tiếng,...</p>
                <p> Với mong muốn đem đến cho khách hàng của mình những sản phẩm chất lượng, an toàn vệ sinh thực phẩm thì Huy Hoang Bakery đã hợp tác với các thương hiệu nổi tiếng và uy tín để nhập hàng hóa. Bên cạnh đó Huy Hoang Bakery có hợp tác với các chuyên gia hàng đầu trong lĩnh
                    vực ẩm thực đặc biệt là bánh kẹo để tìm hiểu và cho ra thị trường những sản phẩm mới mẻ phù hợp với mọi lứa tuổi và đặc biệt tốt cho sức khỏe. Chúng tôi hy vọng Huy Hoang Bakery sẽ là một cửa hàng mà quý khách hàng luôn lựa chọn khi có nhu cầu mua mặt hàng bánh kẹo.
                </p>
                <p> Chúng tôi xin cảm ơn quý khách hàng đã ghé thăm cửa hàng và kính chúc quý khách hàng thật nhiều sức khỏe</p>
                <a class="btn hvr-hover" href="#">Read More</a>
            </div>
        </div>
    </div>
</div>
